<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Pokémon</title>
</head>
<body>
    <h1>Teste</h1>
    <% results.forEach(pokemon => { %>
        <div class="col-md-4">
            <a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a>
        </div>
        <% }) %>
</body>
</html>